<% provide(:title, 'Log in') %>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: login_path, scope: :session) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

    <p>New user? <% link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<%#
form_withの引数に使えるキー
  :url : フォーム送信先の URL を指定します。省略すると、現在のページの URL になります。
  :model : フォームを関連付けるモデルオブジェクトを指定します。モデルオブジェクトを指定すると、フォーム自動生成機能が利用できます。
  :html : フォームタグに属性を追加します。
  :method : フォーム送信時の HTTP メソッドを指定します。デフォルトは :post です。
  :remote : フォームを非同期送信にするかどうかを指定します。true に設定すると、フォーム送信時にページ遷移せずに JavaScript で処理されます。
  :data : フォームタグに data 属性を追加します。
  :multipart : フォームが multipart エンコードかどうかを指定します。true に設定すると、ファイルアップロードなどの multipart エンコードに対応できます。
  :class : フォームタグに class 属性を追加します。
  :id : フォームタグに id 属性を追加します。
  :style : フォームタグに style 属性を追加します。
  :scope : フォームパラメータのスコープを指定します。デフォルトは :session です。
  :defaults : フォーム内のすべてのフィールドにデフォルト値を設定します。
  :builder : フォームビルダーを指定します。
  :namespace : フォームの名前空間を指定します。
  :wrapper : フォームラッパーを指定します。
  :for : フォームを関連付けるオブジェクトを指定します。
#%>